registerAndLogin/venv/
registerAndLogin/registerAndLogin/settings.py
registerAndLogin/registerAndLogin/__pycache__/
registerAndLogin/user/__pycache__/
registerAndLogin/create_db.py
registerAndLogin/media/
registerAndLogin/manage.py
.history
.idea
