registerAndLogin/venv/
registerAndLogin/registerAndLogin/settings.py/
registerAndLogin/registerAndLogin/__pycache__/
registerAndLogin/user/__pycache__/
registerAndLogin/user/migrations/
registerAndLogin/knowledge_base/__pycache__/
registerAndLogin/knowledge_base/migrations/
registerAndLogin/create_db.py
registerAndLogin/media/
registerAndLogin/manage.py
registerAndLogin/agent/__pycache__/
registerAndLogin/agent/migrations/
nohup.out
.history
.idea
.env