Django
djangorestframework
django-cors-headers
drf-yasg
djangorestframework-simplejwt
mysqlclient
mysql-connector-python
setuptools
channels
channels-redis
daphne
WebSocket
python-dotenv
openai
bs4
requests
pymupdf
python-docx